{% extends 'base.html' %}


{% block head %}
<script>
	$(function () {
		$('form').submit(function () {
			pwd_len=$('#user_pwd').val().length;
			if(pwd_len<8 || pwd_len>20){
				return false
			}
		})
	});

	$('#user_name').blur(function () {
		name_len=$(this).val().length;
		if(name_len<5 || name_len>20){

		}
	});
	console.log('开始判断了')
	if( '{{context.user_error|default:''}}'!= null){
		console.log('{{context.user_error|default:''}}')
		$('.user_error').html('{{context.user_error}}').show()
	}

	if( '{{context.pwd_error|default:'' }}'!= null){
		$('.pwd_error').html('{{context.pwd_error}}').show()
	}
</script>
{% endblock head %}




{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="#">立即注册</a>
				</div>
				<div class="form_input">
					<form action="/user/login_handle/" method="post">
						{% csrf_token %}
						<input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{ context.uname|default:'' }}">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码" value="{{ context.upwd|default:'' }}">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="user_jz" value="user_remember">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}